<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>contacts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css"/>
</head>
<body>
{% for i in kontakt %}
<section class="height:400px;">
    <div style="width:100% ; height:50px; background: rgb(36, 131, 194); padding: 8px; ">
        <h3 style="color: white; margin-left: 26%;"> All conditions for your safety. Enhanced sanitary measures in the
            clinic!</h3>
    </div>
    <div class="header-main">
        <a href="/"><img style="margin-left: 80px; width: 300px; height: 150px;" src="../media/image_1560843428.jpg"
                         alt=""></a>
        <div style="margin-left: auto;">
            <a href=" https://wa.me/+996777459245">
                <img class="img-main-header-first" src="../media/icons8-whatsapp.gif" alt="">
            </a>
            <a href="https://web.telegram.org/z/#-1657853630">
                <img class="img-main-header-first" src="../media/icons8-telegram-app.gif" alt="">
            </a>
            <a href="https://www.facebook.com/">
                <img class="img-main-header-first" src="../media/icons8-facebook.svg" alt="">
            </a>
            <a href="">
                <img style="margin-left: 60px; width: 40px; height: 40px;" class="img-main-header-first"
                     src="../media/call.png"
                     alt="">
            </a>
        </div><a href="tel:+996777459245">
        <p style="margin-left: 5px;">{{i.numbers}}</p></a></div>
    <div style="width: 90%; height:1px; background:gray; margin-left: 5%; opacity: 50%;"></div>
    <div style="display: flex; justify-content: center; align-items: center">
        <ul style="display: flex; flex-direction:row; gap: 70px">
            <a href="{% url 'service' %}">
                <img style="margin-left: 90px;" class="img-main-header" src="../media/dentist-chair.png" alt="">
                <h5 style="margin-left: 90px;">Services</h5>
            </a>
            <a href="{% url 'doctors' %}">
                <img class="img-main-header" src="../media/doctor.png" alt="">
                <h5 style="margin-left: 45px;">Doctors</h5>
            </a>
            <a href="{% url 'about' %}">
                <img class="img-main-header" src="../media/dental-clinic.png" alt="">
                <h5 style="margin-left: 25px;">About clinic</h5>
            </a>

            <a href="{% url 'contact' %}">
                <img class="img-main-header" src="../media/phone-book.png" alt="">
                <h5 style="margin-left: 45px;">Contacts</h5>
            </a>
        </ul>
    </div>
    <div style=" opacity: 50%; width: 90%; height:1px; background:gray; margin-left: 5%; margin-top: 10px;"></div>
</section>
<div class="row-liniya-horizontal" style="margin-top:70px ;">
    <div class="liniya"></div>
    <h1>Information</h1>
    <div class="liniya"></div>
</div>
<header style="height: 700px">
    <div class="head1">
        <section class="card_cont">
            <div class="mini">
                <article>
                    <div>
                        <img class="contacts-img" src="../media/location.png" alt="">
                        <h3>Address</h3>
                        <hr>
                        <p>{{i.address}}</p>
                    </div>
                </article>
                <article>
                    <div>
                        <img class="contacts-img" src="../media/call.png" alt="">
                        <h3>Number</h3>
                        <hr>
                        <p>{{i.number}}</p>
                    </div>
                </article>
                <article>
                    <div>
                        <img class="contacts-img" src="../media/calendar.png" alt="">
                        <h3>Working Days</h3>
                        <hr>
                        <p>{{i.days}}</p>
                    </div>
                </article>
            </div>
        </section>
    </div>
</header>
<div class="liniya-footer" style="margin-top:70px;"></div>
<div class="iframe1">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4479.360224689796!2d74.60193945376349!3d42.84006061887937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb618921598d7%3A0xea43bfa802477f7e!2z0JrRi9GA0LPRi9C30YHQutC40Lkg0LPQvtGB0YPQtNCw0YDRgdGC0LLQtdC90L3Ri9C5INGD0L3QuNCy0LXRgNGB0LjRgtC10YIg0YHRgtGA0L7QuNGC0LXQu9GM0YHRgtCy0LAsINGC0YDQsNC90YHQv9C-0YDRgtCwINC4INCw0YDRhdC40YLQtdC60YLRg9GA0Ys!5e0!3m2!1sru!2skg!4v1670004990593!5m2!1sru!2skg"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div class="liniya-footer"></div>
<footer class="footer-footer">
    <div class="footer-col1">
        <img src="../media/image_1560843428-removebg-preview.png" alt="" style="width:250px ; height: auto;">
        <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl"><h4 class="margin2">inaiclinic@gmail.com</h4></a>
        <a href=""><h4 class="margin2" style="color: blue; font-weight: 400; ">+996 777 459 245</h4>
        </a>
        <p style="margin:5px ; ">
            Dentistry "Inai clinic"
            We accept children and adults
            © 2020. All rights reserved.
            Dental clinic Inai clinic.
        </p>
    </div>
    <div class="liniya2"></div>
    <div class="footer-col1">
        <h3 class="margin1" style="margin-left: -5px;">Company</h3>
        <a href="{% url 'about' %}"><h4 class="margin1">About us</h4></a>
        <a href="{% url 'doctors' %}"><h4 class="margin1">Doctors</h4></a>
        <a href="{% url 'contact' %}"><h4 class="margin1">Contacts</h4></a>
        <a href="{% url 'service' %}"><h4 class="margin1">Service</h4></a>
    </div>
    <div class="footer-col1">
        <h3 class="margin1" style="margin-left: -5px;">Pay</h3>
        <a href=""><h4 class="margin1">Mbank</h4></a>
        <a href=""><h4 class="margin1">Sber</h4></a>
        <a href=""><h4 class="margin1">QIWI</h4></a>
    </div>
    <div class="footer-col1">
        <h3 class="margin1" style="margin-left: -5px;">Social page</h3>
        <a href="https://help.instagram.com/372819389498306/?helpref=uf_share"><h4 class="margin1">Instagram</h4></a>
        <a href=""><h4 class="margin1">Telegram</h4></a>
        <a href=" https://wa.me/+996777459245"><h4 class="margin1">Whatsapp</h4></a>
    </div>
</footer>
{% endfor %}
</body>
</html>